@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Ubuntu+Mono&display=swap');
* {
	box-sizing: border-box;
}

body {
	background-color: #F9F9FA;
	color: rgb(0, 0, 0);
	display: flex;
	font-family: 'Fira Mono', monospace;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0;
}

.container {
	background-color: #F9F9FA;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 50px;
	width: 450px;
	max-width: 100%;
	border-radius: 20px;
	border: 1px solid #dce2e5;
	filter: drop-shadow(0 4px 0 rgba(195,219,236,0.45));
}

.result-container {
	background-color: #292929;
	color: #e4ecf8;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
	border-radius: 10px;
	font-family: 'Ubuntu Mono', monospace;
}

.result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}



.btn {
	border: none;
	color: #292929;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: rgb(208, 208, 213);
	border-radius: 10px;
	font-family: 'Fira Mono', monospace;
	
}

.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}


#lengthbox{
	background-color:#F9F9FA;
	width: 3rem;
	justify-content: center;
	border: 1px solid #a5a1a1;
	
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}